PORT=3003
DATABASE_URL="postgresql://user:password@localhost:5432/hmmv_db?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="sua_chave_secreta_aqui_mude_isso"
FARM_SERVICE_URL="http://localhost:3004"
